.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsla(var(--primary-color) / 1);
  line-height: 1.4;
  cursor: pointer;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
